/* Configurações Gerais */
.bg-333333 {
    background: #333333;
}

.bg-principal{
    background-color:#FE621D;
}

.bg-amarelo {
    background-color: #ffcc43;
}

.text-amarelo {
    color: #ffcc43;
}

::selection {
    background: #FE621D;
    color: white;
}

.img-250 {
    width: 250px;
}
